<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
    <script src="search_github.js"></script>

</head>

<body>
<h1>TypeScript Fundamentals</h1>
<div>
    Open console to see more information
</div>

<ol>
    <li>
        <a href="https://api.github.com/repos/auth0/angular2-jwt/milestones{/number}">angular2-jwt</a>
    </li>
    <li>
        <a href="https://api.github.com/repos/angular/angular/forks">Angular</a>
    </li>
    <li>
        <a href="https://api.github.com/repos/angular/angular/statuses/{sha}">Statuses</a>
    </li>
    <li>
        <a href="https://api.github.com/repos/angular/angular/git/blobs{/sha}">Blobs</a>
    </li>
    <li>
        <a href="https://api.github.com/repos/angular/angular.js/events">TypeScript Function</a>
    </li>
    <li>
        <a href="https://api.github.com/repos/angular/angular-cli/pulls{/number}">Angular-cli/pulls</a>
    </li>
    <li>
        <a href="https://api.github.com/users/OOP-Code-Bunny/orgs">OOP-Code-Bunny</a>
    </li>
    <li>
        <a href="https://api.github.com/repos/jmcunningham/AngularJS-Learning/hooks">AngularJS-Learning</a>
    </li>
</ol>
<div class="app">
    <ul class="list"></ul>
</div>
</body>

</html>